input.ng-invalid.ng-touched {
  border: 1px solid red;
}

small.error {
  color: red;
  font-size: 0.875rem;
  display: block;
}
div.ng-invalid.ng-touched {
  margin-bottom: 1rem;
}
.Form{
  background-color: grey;
  width:80%;
  border-radius: 12px;
}
.loginButton{
  border-radius: 12px;
}
.auth {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.title{
  margin-top:150px;
}
.background{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.is-invalid {
  border: 2px solid red;
}

.is-valid {
  border: 2px solid green;
}
