<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
<div class="card form-card">
  <div class="card-body">
    <form [formGroup]="profileForm" (ngSubmit)="onSignUp()">
      <h1 class="title d-flex justify-content-center mt-4">E-Commerce Registration Form </h1>
      <h5 class="subtitle d-flex justify-content-center mt-2">
        Please fill the following form with your personal information.
      </h5>
      <hr>
      <div class="row">
        <!-- First Name -->
    
<div class="col-md-6 mb-3">
  <label for="firstName" class="form-label">First Name</label>
  <input id="firstName" formControlName="firstName" class="form-control" type="text" placeholder="First Name" (keydown)="allowOnlyLetters($event)" ng-model="myName" required>
  <span *ngIf="profileForm.get('firstName')?.touched && profileForm.get('firstName')?.hasError('required')" class="text-danger">
    First Name is required.
  </span>
</div>
        <!-- Last Name -->
        <div class="col-md-6 mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input id="lastName" formControlName="lastName" class="form-control" type="text" placeholder="Last Name"(keydown)="allowOnlyLetters($event)"ng-model="myNamee" required>
          <span *ngIf="profileForm.get('lastName')?.touched && profileForm.get('lastName')?.hasError('required')" class="text-danger">
            Last Name is required.
          </span>
        </div>
       <!-- Email -->
<div class="col-md-6 mb-3">
  <label for="email" class="form-label">E-mail</label>
  <input 
    id="email" 
    formControlName="email" 
    class="form-control" 
    type="email" 
    placeholder="ex: myname@example.com"
    ng-model="myInput"
  >

  <p>{{ profileForm.get('email')?.valid ? 'Valid email address' : 'Invalid email address' }}</p>
  <h3>
    
  </h3>

</div>

        <!-- Phone -->
        <div class="col-md-6 mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input 
            id="phone" 
            formControlName="phone" 
            class="form-control" 
            type="tel" 
            placeholder="(+216) 000-00 000"
            (keydown)="allowOnlyNumbers($event)"
          />
          <span *ngIf="profileForm.get('phone')?.touched && profileForm.get('phone')?.hasError('required')" class="text-danger">
            Phone Number is required
          </span>
          <span *ngIf="profileForm.get('phone')?.touched && profileForm.get('phone')?.hasError('pattern')" class="text-danger">
            Phone Number must contain exactly 8 digits
          </span>
        </div>
        
        

        <!--Password-->
        <div class="col-md-6 mb-3">
          <label for="password" class="form-label">Password</label>
          <input id="password" formControlName="password" class="form-control" type="password" placeholder="Enter your password">
          <span *ngIf="profileForm.get('password')?.touched && profileForm.get('password')?.hasError('required')" class="text-danger">
            Password is required
          </span>
          <span *ngIf="profileForm.get('password')?.touched && profileForm.get('password')?.hasError('minlength')" class="text-danger">
            Password must be at least 6 characters long,
          </span>
          <span *ngIf="profileForm.get('password')?.touched && profileForm.get('password')?.hasError('pattern')" class="text-danger">
           and must contain at least one special character.
          </span>
        </div>

        <!--Birth Date-->
       
        <div class="col-md-6 mb-3">
          <label for="birthDate" class="form-label">Birth Date</label>
          <input 
            id="birthDate" 
            formControlName="birthDate" 
            class="form-control" 
            type="date" 
            [max]="today" 
            placeholder="Enter your birth date" 
          />
          <span *ngIf="profileForm.get('birthDate')?.touched && profileForm.get('birthDate')?.hasError('required')" class="text-danger">
            Birth date is required
          </span>
        </div>
        
        

        
      </div>

  <!--Address Section-->
  <div class="address-section mt-4">
    <h5 class="form-label">Address</h5>
    <!-- Street -->
    <div class="mb-3">
      <label for="street" class="form-label small text-muted">Door No, Street</label>
      <input 
        id="street" 
        formControlName="street" 
        class="form-control" 
        type="text"
        placeholder="Door No, Street"
        ng-model="street" 
        required 
        [ngClass]="{
          'ng-invalid': profileForm.get('address.street')?.invalid && profileForm.get('address.street')?.touched,
          'ng-valid': profileForm.get('address.street')?.valid && profileForm.get('address.street')?.touched
        }"
      >
      <span *ngIf="profileForm.get('address.street')?.touched && profileForm.get('address.street')?.hasError('required')" class="text-danger">
        Street is required.
      </span>
    </div>
  
  
      
      


 <!-- City -->
 <div class="mb-3">
  <label for="city" class="form-label small text-muted">City</label>
  <input id="city" formControlName="city" class="form-control" type="text" placeholder="City">
  <span *ngIf="profileForm.get('address.city')?.touched && profileForm.get('address.city')?.hasError('required')" class="text-danger">
    City is required
  </span>
</div>

  <!-- District and State -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="district" class="form-label small text-muted">District</label>
      <input id="district" formControlName="district" class="form-control" type="text" placeholder="District">

    </div>
    <div class="col-md-6 mb-3">
      <label for="state" class="form-label small text-muted">State</label>
      <input id="state" formControlName="state" class="form-control" type="text" placeholder="State">
      
    </div>
  </div>

  <!-- Postal Code -->
  <div class="mb-3">
    <label for="postalCode" class="form-label small text-muted">Postal / Zip Code</label>
    <input id="postalCode" formControlName="zip" class="form-control" type="text" placeholder="Postal / Zip Code" (keydown)="allowOnlyNumbers($event)" maxlength="5">
   
    <span *ngIf="profileForm.get('address.zip')?.touched && profileForm.get('address.zip')?.hasError('required')" class="text-danger">
      Postal / Zip Code is required and must be 4 or 5 digits.
    </span>
  </div>
</div>



      <!-- Current Status -->
      <div class="current-status mt-4">
        <label for="status" class="form-label">Role</label>
        <select id="status" formControlName="status" class="form-select">
          <option value="" disabled selected>Select a role</option>
          <option value="admin">Admin</option>
          <option value="customer">Customer</option>
        </select>
      
        <span *ngIf="profileForm.get('status')?.touched && profileForm.get('status')?.hasError('required')" class="text-danger">
          Please select a role.
        </span>
      </div>
      

      <!-- Submit Button -->
      <div class="row justify-content-center mt-4">
        <div class="col-md-6 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
      </div>
      
      
    </form>
  </div>
</div>
</body>
</html>