<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>

<header class="row">
  <div class="col d-flex justify-content-start">
    <a class="m-2" routerLink="/home">Home</a>
    <a class="m-2" routerLink="/products">Products</a>
    <a class="m-2" routerLink="/about">About</a>
    <a class="m-2" routerLink="/contact">Contact</a>
  </div>
  <div class="d-flex justify-content-end col">
    <a class="m-2" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" >Login</a>
    <a class="m-2" routerLink="/signup">SignUp</a>
  </div>
</header>



<main>

 <router-outlet></router-outlet>

</main>
</body>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


