<section class="mat-dialog-container">
  <h2>Update Password</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSave()">
    <label>old Password:</label>
    <input type="password" formControlName="password" name="password" required />
    <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
      <small *ngIf="userForm.get('password')?.errors?.['required']">Username is required.</small>
      <small *ngIf="userForm.get('password')?.errors?.['minlength']">Username must be at least 3 characters long.</small>
    </div>

    <label>New Password:</label>
    <input type="password" formControlName="newPassword" name="newPassword" required />
    <div *ngIf="userForm.get('newPassword')?.invalid && userForm.get('newPassword')?.touched">
      <small *ngIf="userForm.get('newPassword')?.errors?.['newPassword']">new Password is required.</small>
      <small *ngIf="userForm.get('newPassword')?.errors?.['newPassword']">Invalid password format.</small>
    </div>

    <label>Re-enter Password:</label>
    <input type="password" formControlName="rePassword" name="rePassword" required />
    <div *ngIf="userForm.get('rePassword')?.invalid && userForm.get('rePassword')?.touched">
      <small *ngIf="userForm.get('rePassword')?.errors?.['rePassword']">new Password is required.</small>
      <small *ngIf="userForm.get('rePassword')?.errors?.['rePassword']">Invalid password format.</small>
    </div>


    <button type="submit" [disabled]="userForm.invalid">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </form>
</section>
