<section class="product-list">
  <h2 class="page-title d-flex justify-content-center mt-5">Normal Products</h2>

  <!-- Card Container for Normal Products -->
  <div class="d-flex justify-content-end">
  <div class="w-25">
    <label for="categoryFilter">Filter by Category:</label>
    <select
      id="categoryFilter"
      [(ngModel)]="selectedNormalCategory"
      (change)="applyNormalCategoryFilter()"
      class="filter-select "
    >
      <option value="">All Categories</option>
      <option *ngFor="let category of uniqueNormalCategories" [value]="category">{{ category }}</option>
    </select>
  </div>
  </div>
  <div class="card-container ">
    <app-product-card
      *ngFor="let product of filteredNormalProductsPage"
      [name]="product.name"
      [price]="product.price"
      [image]="product.image"s
      [id]="product.id"
    >
    </app-product-card>
  </div>

  <!-- Paginator for Normal Products -->
  <mat-paginator
    #normalPaginator
    [length]="normalProducts.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
    (page)="onNormalProductsPageChange($event)"
  ></mat-paginator>

  <h2 class="page-title d-flex justify-content-center mt-2">International Products</h2>
  <div class="d-flex justify-content-end">
  <div class="search-filter-container   w-25">
    <input
      type="search"
      placeholder="Search by product name"
      [(ngModel)]="searchTerm"
      (input)="applyFilters()"
      class="search-input"
    />
  </div>
  </div>
  <!-- Card Container for International Products -->
  <div class="card-container">
    <app-product-card
      *ngFor="let product of internationalProductsPage"
      [name]="product.name"
      [price]="product.price"
      [image]="product.image"
      [id]="product.id"
      [source]="product.source"
    >
    </app-product-card>
  </div>

  <!-- Paginator for International Products -->
  <mat-paginator
    #internationalPaginator
    [length]="internationalProducts.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
    (page)="onInternationalProductsPageChange($event)"
  ></mat-paginator>
</section>
